[Unit]
Description=InfluxDB 3 Core for Feelinq

[Container]
Image=quay.io/influxdb/influxdb3-core:latest
Exec=influxdb3 serve --node-id=node0 --object-store=file --data-dir=/data
Volume=feelinq-influxdata:/data
Network=feelinq.network
PublishPort=8181:8181

[Service]
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
